:root {
    --charcoal: #0b0f14;
  --light-charcoal: #141b23;

  --gold: #d4af37;
  --soft-gold: #f1d27a;

  --off-white: #f8f6f1;
  --light-gray: #cfcfcf;

  --dark-text: #101010;
}

*{
    margin: 0px;
    padding: 0px;
}
.nav-link.active {
    color: #c5a059 !important; /* Aapka gold color */
    
}


/* hero */


.heroimg{
    /* background-image: url("./assets/1-Mercedes-A-Class.jpg") ; */
background-image: url("./assets/hero2.avif");
    height: 650px;
    background-position: center center;
    background-size: cover;
    
}


/* bookin section */


.sec-1,.sec-2,.sec-3{
    display: flex;

}
.content h3{
    font-size: 15px;
    font-weight: normal;
}
.content p{
    font-size: 13px;
    color: rgb(143, 145, 149);
}
.icon i {
    color: grey;
    font-size: 22px;
}

#navbar{
    position: fixed ;
    top: 0px;
    left : 0px;
    width: 100%;
}

 /* Button Styling */
  .btn-gold-fill {
   border: 1px solid var(--gold);
    color: var(--gold);
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s;
  }

  .btn-gold-fill:hover {
   background-color: #b79433;
   color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(212, 175, 55, 0.3);
  }


  /* Responsive Adjustments */
  @media (max-width: 767.98px) {
    .cta-section .display-4 {
      font-size: calc(1.8rem + 1vw);
    }
    .hero-cont{
        border: none !important;
    }

    .cta-section .p-5 {
      padding: 3rem 1.5rem !important;
    }
  }

@media (min-width: 991px ) and (max-width: 1399px) {
    .contact-sec2{
        margin-top: 100px;
    }
    
}